
// fonts
$f-heading: "Jost", arial, sans-serif;
$f-text: "Roboto", arial, sans-serif;

$imgBase: "/assets/img/";
$imgBg: "/assets/img/backgrounds";

$small: 320px;
$middle: 560px;
$tablet: 760px;
$laptop: 960px;
$desktop: 1140px;
$wide: 1340px;
$large: 1800px;

// breakpoints
$xs: 420px;
$sm: 580px;
$smd: 790px;
$md: 1000px;
$lg: 1200px;
$extra-lg: 1440px;
$xlg: 1925px;
